# GENERAL
NODE_ENV=production
PORT=
CORS_ORIGIN=
API_KEY=


# DB CREDENTIALS
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=room_scheduling_db

# JWT AUTH
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=

JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

SALT_ROUNDS=